.*/
bin/
Util/
gradle/
libs/burpsuite_pro.jar
BurpLogger++.iml
TODO
.classpath
.project
build.xml
hs_err_*.log
build/libs/burplogger++.jar
**/*.class
local.properties
**/*MANIFEST.MF
build/tmp/jar/MANIFEST.MF
